<<<<<<< HEAD
@import "../../node_modules/vue-multiselect/dist/vue-multiselect.css";
=======
@import "../../node_modules/vue-multiselect/dist/vue-multiselect.min.css";
>>>>>>> ccf9f6e (8/11)

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    h1 {
        @apply text-[2em] font-bold
    }
    h2 {
        @apply text-[1.5em] font-bold
    }
    h3 {
        @apply text-[1.17em] font-bold
    }
    h4 {
        @apply text-[1em] font-bold
    }
    h5 {
        @apply text-[.83em] font-bold
    }
    h6 {
        @apply text-[.67em] font-bold
    }
}

/* width */
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}
 
/* Track */
/* ::-webkit-scrollbar-track {
    background: black;
} */
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #F7C849;
    border-radius: 5px;
}